body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 700px;
  padding: 15px;
  margin: auto;
  background-image: linear-gradient(#c2edcc, #dfefd5);

  color: rgb(39, 39, 39);
}

section {
  margin-bottom: 50px;
}

h1,
h2 {
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 30px;
}

#logo {
  display: block;
  width: 250px;
  margin: 20px auto;
}

#park-img {
  width: 100%;
  border-radius: 30% 5% 30% 5%;
}

.flower-gif {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: auto;
}

.hummingbird-gif {
  display: block;
  margin: auto;
}

form input,
button {
  display: block;
  margin: 10px auto;
}

button,
.donate-button {
  font-size: 20px;
  font-weight: 400;
  padding: 10px 20px;
  background-color: rgb(59, 122, 59);
  border-width: 0;
  color: white;
  width: fit-content;
  vertical-align: text-bottom;
  border-radius: 30% 5% 30% 5%;
}

button:hover {
  cursor: pointer;
}

input {
  font-size: 16px;
  margin: 30px auto;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
